*{
  padding:0px;
  margin: 0px;
}
body{
  background-color:#F5F8FA;
  margin-top: 100px;
  padding: 0px;
  text-align:center;

}
h2{
  text-align:center;
  margin-top: 10px;
}
.container{
  background-color:#FFFFFF;
  border-radius: 6px;
}
div{
  margin:20px;
}
.save{
  background-color: #F5F5F5;
  height:70px;
  text-align:left;
  line-height: 70px;
  border-radius: 6px;
  box-shadow:0px 1px 1px #aaaaaa inset;
}
.button{
  vertical-align: middle;

}
